@import './node_modules/tailwindcss/base.css';
@import './node_modules/tailwindcss/components.css';
.after{
    content: '';
    margin-left: 0.5rem;
    color: red;
    background-color: #da373d;
    overflow: hidden;
    display: block;
    position: relative;
    height: 35vh;
    width: 40vw;
    z-index: -1;
    left: 28.5vw;
    top: 1.3vh;
  }
@media screen and (max-width: 768px){
    .after{
        content: '';
        margin-left: 0.5rem;
        color: red;
        background-color: #da373d;
        overflow: hidden;
        display: block;
        position: relative;
        height: 25vh;
        width: 40vw;
        z-index: -1;
        top: 11vh;
      }
}

@import './node_modules/tailwindcss/utilities.css';